---
language: node_js
node_js:
  - "8"
addons:
  chrome: stable
  firefox: latest
  apt:
    packages:
     - fluxbox

sudo: false

cache:
  directories:
    - $HOME/.npm

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - fluxbox >/dev/null 2>&1 &

before_install:
  - npm config set spin false
  - npm install -g phantomjs-prebuilt
  - phantomjs --version

install:
  - npm install

script:
  - npm run test-with-coveralls

after_success:
  - npm run semantic-release
